.services
    display: flex
    flex-direction: column
    margin-top: 87px
    padding-top: 88px
    padding-left: 182px

    &__title
        color: #008080
        font-family: font-bold
        font-size: 16px

    &__desc
        color: #000000
        font-size: 40px
        font-family: font-medium
        padding-top: 24px

    &__cards
        display: flex
        gap: 245px
        align-content: center
        align-items: center
        margin-top: 88px

    &__name
        padding-top: 32px
        color: #967D69
        font-family: font-medium
        font-size: 32px

    &__subTitle
        padding-top: 7px
        color: #3F3F3F
        font-size: 16px
        width: 100%
        max-width: 306px

    &__learn
        padding-top: 22px
        color: #0F0F0F
        font-size: 16px
        font-family: font-medium

    &__btn
        width: 100%
        max-width: 245px
        height: 60px
        padding: 20px 32px
        border: none
        background: none
        color: #008080
        font-size: 15px
        font-family: font-medium
        display: flex
        gap: 8px
        border: 1px solid #008080
        margin-top: 200px
        float: left
        margin-left: 1150px

// Mobil ekranlar uchun (768px va kichikroq)
@media (max-width: 768px)
    .services
        margin-top: 50px
        padding-top: 50px
        padding-left: 20px
        padding-right: 20px
        justify-content: center
        align-content: center
        align-items: center
        text-align: center
        
    .services__desc
        font-size: 24px
        text-align: center

    .services__cards
        flex-direction: column
        width: 100%
        gap: 40px
        justify-content: center
        align-items: center
        align-items: center
        margin-top: 50px

    .services__name
        font-size: 24px

    .services__subTitle
        max-width: 100%
        font-size: 14px

    .services__btn
        margin-top: 100px
        margin-left: 0
        align-self: center

// O'rta ekranlar uchun (769px - 1199px)
@media (min-width: 769px) and (max-width: 1199px)
    .services
        padding-left: 50px
        padding-right: 50px

    .services__desc
        font-size: 32px

    .services__cards
        gap: 120px

    .services__name
        font-size: 28px

    .services__btn
        margin-top: 150px
        margin-left: auto
        margin-right: auto

.threejsContainer
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: -1
