.project
    display: flex
    flex-direction: column
    margin-top: 136px
    padding-left: 182px

    &__title
        color: #008080
        font-family: font-bold
        font-size: 16px

    &__desc
        color: #000000
        font-size: 40px
        width: 100%
        max-width: 858px
        font-family: font-medium
        padding-top: 24px

    &__cards
        display: flex
        gap: 34px
        justify-content: space-between
        align-content: center
        align-items: center
        margin-top: 91px
        padding-right: 180px
        flex-wrap: wrap

    &__card
        display: flex
        flex-direction: column
        gap: 32px

    &__name
        color: #008080
        font-size: 32px
        font-family: font-bold

    &__btn
        width: 100%
        max-width: 245px
        height: 60px
        padding: 20px 32px 20px 32px
        border: none
        background: none
        color: #008080
        font-size: 15px
        font-family: font-medium
        display: flex
        gap: 8px
        border: 1px solid #008080
        margin-top: 108px

// Mobil ekranlar uchun (768px va kichikroq)
@media (max-width: 768px)
    .project
        margin-top: 50px
        padding-left: 20px
        padding-right: 20px

    .project__desc
        font-size: 24px
        text-align: center

    .project__cards
        gap: 20px
        flex-direction: column
        align-items: center
        padding-right: 0

    .project__card
        align-items: center

    .project__name
        font-size: 24px
        text-align: center

    .project__btn
        margin-top: 50px
        margin-left: 0
        align-self: center

// O'rta ekranlar uchun (769px - 1199px)
@media (min-width: 769px) and (max-width: 1199px)
    .project
        padding-left: 50px
        padding-right: 50px

    .project__desc
        font-size: 32px

    .project__cards
        gap: 20px
        padding-right: 50px

    .project__card
        gap: 16px

    .project__name
        font-size: 28px

    .project__btn
        margin-top: 100px
        margin-left: auto
        margin-right: auto
