.services
    width: 100%
    background: #008080
    height: 383px
    padding-top: 88px
    padding-left: 182px
    color: #FFFFFF

    &__title
        font-size: 16px
        font-family: font-medium

    &__desc
        padding-top: 40px
        font-size: 40px
        font-family: font-medium
        width: 100%
        max-width: 780px