.header
    margin-top: 158px
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    flex-direction: column

    &__content
        display: flex
        margin-top: 80px
        gap: 80px

    &__btn
        width: 100%
        max-width: 240px
        height: 60px
        padding: 20px 32px 20px 32px
        background: #008080
        border: none
        color: #F5F5F5
        font-size: 15px
        font-family: font-medium
        display: flex
        gap: 8px

    &__contentimg
        margin-top: 19px

    