.navbar
    width: 100%
    height: 92px
    display: flex
    gap: 206px
    justify-content: space-between
    padding-right: 188px
    padding-left: 146px 
    @media (min-width: 769px)
        flex-direction: row
        height: 96px
        padding-top: 29px
        padding-bottom: 0

    @media (max-width:769px)
        padding-left: 30px
        gap: 180px

    &__logo
        margin-top: 27px

    &__toggle
        display: block
        font-size: 40px
        cursor: pointer
        background: none
        border: none
        color: black
        text-align: center
        padding-right: 50px

        @media (min-width: 769px)
            display: none

    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        width: 100%
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease-in-out

        @media (min-width: 769px)
            flex-direction: row
            align-items: center
            justify-content: flex-end
            width: auto
            max-height: none
            overflow: hidden

    &__item_open
        max-height: 1000px

        @media (min-width: 769px)
            max-height: none

    &__menu
        display: flex
        list-style: none
        gap: 60px
        padding-top: 36px
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        color: #967D69
        font-size: 16px
        font-family: font-medium
        transition: opacity 0.3s ease-in-out
        @media (min-width: 769px)
            flex-direction: row
            padding-right: 60px
            // gap: 5px
            width: auto

        & li
            cursor: pointer

    &__btn
        background: #008080
        padding: 12px 24px 12px 24px
        border: none
        color: #F5F5F5
        width: 100%
        max-width: 157px
        height: 44px
        gap: 8px
        margin-top: 24px
        font-family: font-medium
        display: flex
        cursor: pointer

    &__icon
        color: #F5F5F5
        font-size: 15px
        margin-left: 8px
