.work
    display: flex
    flex-direction: column
    margin-top: 88px
    gap: 180px
    justify-content: center
    align-content: center
    align-items: center

    &__cont
        width: 100%
        display: flex
        gap: 35px
        justify-content: center

        // Mobil qurilma uchun
        @media (max-width: 768px)
            flex-direction: column
            gap: 20px
            align-items: center

    &__text
        display: flex
        flex-direction: column
        gap: 40px

        // Mobil qurilma uchun
        @media (max-width: 768px)
            text-align: center
            padding: 0 15px

    &__title
        color: #008080
        font-size: 32px
        font-family: font-medium
        padding-top: 118px

        // Mobil qurilma uchun
        @media (max-width: 768px)
            padding-top: 20px
            font-size: 28px

    &__desc
        width: 100%
        max-width: 571px
        color: #0F0F0F
        font-size: 20px
        font-family: font-medium

        // Mobil qurilma uchun
        @media (max-width: 768px)
            font-size: 18px

    &__img
        width: 100%
        max-width: 520px
        height: 594px
        background-size: cover
        background-repeat: no-repeat

        // Mobil qurilma uchun
        @media (max-width: 768px)
            max-width: 100%
            height: auto
            min-height: 300px

        &:nth-child(1)
            background-image: url("/assets/img/ui.png")

        // Ikkinchi bo'lim uchun (Marketing)
        &:nth-child(2)
            background-image: url("/assets/img/marketing.png")

        // Uchinchi bo'lim uchun (Design)
        &:nth-child(3)
            background-image: url("/assets/img/design.png")

        // To'rtinchi bo'lim uchun (Development)
        &:nth-child(4)
            background-image: url("/assets/img/development.png")

    &__list
        display: flex
        gap: 24px

        // Mobil qurilma uchun
        @media (max-width: 768px)
            flex-direction: column
            gap: 15px

    &__types
        display: flex
        flex-direction: column
        gap: 20px
        list-style: none
        font-size: 18px

        // Mobil qurilma uchun
        @media (max-width: 768px)
            font-size: 16px

    &__section
        display: flex
        align-items: center
        gap: 16px

    &__line
        min-width: 32px
        height: 2px
        background: #8B8B8B
